body {
  height: 100%;
  background: url('../images/bck.jpg') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1.25em/1 Helvetica;
  color: #e6e6e6;
}

.image {
  display: block;
  float: left;
  width: auto;
  overflow: hidden;
}

.button {
  display: block;
  width: 12.5%;
  height: 50px;
  background-color: #666666;
  font: 400 0.8em/1.38 Montserrat;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.container {
  float: left;
  width: 100%;
  min-width: 768px;
}

.header {
  height: 100px;
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1000;
}

.header .img {
  height: 100px;
  margin-left: 25px;
  float: left;
}

.header .textlogo {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  font-family: Baskerville;
  font-size: 50px;
  height: auto;
  width: auto;
  font-weight: normal;
  color: #666666;
}

.header .button {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.body {
  clear: both;
  height: 4000px;
}

.bottom {
  clear: both;
  height: 100px;
}

.container-3 {
  height: 750px;
  background-image: url('../images/girl.jpg');
  background-size: auto auto;
  background-position: center top;
}

.container-3 .text {
  width: 83%;
  max-height: 265px;
  min-height: 17px;
  margin: 115px 0 0 8.25%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.44);
  font-family: Baskerville;
  font-size: 1.4em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.82);
}

.container-3 .img {
  width: 33.333333%;
  max-height: 405px;
  float: left;
  margin-top: 115px;
  padding-left: 7%;
}



.container-4 {
  height: 650px;
  background-image: url('../images/bkg-2.jpg');
  background-size: auto auto;
  background-position: left top;
}

.container-5 {
  height: 650px;
  background-image: url('../images/inhand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-6 {
  height: 650px;
  background-image: url('../images/title(2).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-7 {
  height: 650px;
  background-image: url('../images/smarthome.jpg');
  background-size: cover;
  background-position: center center;
}

.container-8 {
  height: 650px;
  background-image: url('../images/intertainment.jpg');
  background-size: cover;
  background-position: center top;
}

.container-9 {
  height: 653px;
  background-image: url('../images/Home_Security_Systems.jpg');
  background-size: cover;
  background-position: center bottom;
}

.container .container {
  border-top: 3px solid #666666;
}

.text {
  float: left;
  padding: 10px;
  text-align: center;
  line-height: 1.15;
}

.image-5 {
  width: 40%;
  margin: 25px 0 0 5%;
}

.text-1 {
  width: 25.5833333333%;
  margin-top: 25px;
  margin-left: 25px;
  font: 400 2.05em/1.38 Montserrat;
  color: #444444;
}

.text-10 {
  width: 80%;
  min-height: 101px;
  margin: 320px 0 0 10%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  color: #d2cdcd;
}

.text-11 {
  width: NaN;
  margin: 40px 0 0 10%;
  font-family: 'Times New Roman';
  font-size: 1em;
  font-weight: Regular;
  color: #1a1a1a;
}

.text-2 {
  display: inline-block;
  width: 22.3333333333%;
  margin: 37px 0 0 2.0833333333%;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text-4 {
  width: 45%;
  max-height: 240px;
  margin-top: 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.44);
  font-size: 1.4em;
  color: rgb(208, 165, 38);
  word-break: normal;
}

.text-5 {
  display: inline-block;
  clear: both;
  width: 80%;
  min-height: 116px;
  margin: 25px 0 0 10%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.47);
  font-size: 1em;
  color: rgb(208, 165, 38);
}

.text-6 {
  width: 45%;
  min-width: 414px;
  margin: 200px 0 0 5%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.51);
  font-size: 1em;
  color: #333333;
}

.text-7 {
  width: 55%;
  margin: 303px 0 0 40%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.76);
  font-size: 1em;
  color: #e6e6e6;
}

.text-8 {
  width: 60%;
  min-height: 75px;
  margin: 321px 0 0 20%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.52);
  font-size: 1em;
  color: #e6e6e6;
}

.text-9 {
  width: 40%;
  min-height: 75px;
  margin: 25px 0 0 5%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.36);
  font-size: 1em;
  color: #1a1a1a;
}

.container ._button-2 {
  float: left;
  min-width: 130px;
  margin: 25px 0 0 27.75%;
}

.container ._button-3 {
  float: left;
  margin: 25px 0 0 5%;
}

.hidden{
opacity:0;
}
.visible{
opacity:1;
}