@font-face {
    font-family: 'FiraSansMedium';
    src: url('../fonts/firasans/FiraSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansLight';
    src: url('../fonts/firasans/FiraSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansRegular';
    src: url('../fonts/firasans/FiraSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'FiraSansLight', Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
    color: #F36E21;
    text-decoration: none;
}

h3 {
    font-size: 30px;
}
header {
    background-color: #F36E21;
    height: 61px;
    margin-bottom: 30px;
}

header img.logo {
    margin-top: -25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:-4px;
}

main form {
    padding: 30px 0;
    font-family: 'FiraSansLight', Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 52px;
}

main form input.form-text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #F36E21 1px;
    font-family: Courier;
}

main form input.form-text:focus {
    outline: none;
}

main button.send {
    background-color: #F36E21;
    font-size: 24px;
    color: white;
    font-family: FiraSansRegular, sans-serif;
    padding: 25px 50px;
    margin-top: 30px;
}

main button.send:hover, main button.send:focus {
    color: white;
    background-color: #FF6E21;
}

.partners {
    margin-top: 30px;
    background-color: rgb(221, 221, 221);
    padding-top: 30px;
}

.block {
    padding: 30px 0;
}

.partners h3 {
    color: white;
}

.partners .thumbnail {
    border: none;
    background: transparent;
}

footer {
    background-color: #666E7A;
    color: #FFFFFF;
    font-size: 22px;
    padding-top: 30px;
}

footer h3 {
    color: #D3D3D3;
}

footer img.logo {
    margin-top: -45px;
}

footer .phone {
    color: #FF6E21;;
}

footer address.address {
    color: #FF6E21;
}

footer .email {
    color: #FF6E21;
}

footer .copyright {
    font-size: 16px;
    margin-bottom: 30px;
    color: #D3D3D3;
}

/*@media screen and (max-width: 480px) {*/
    /*main form {*/
        /*font-size: 52px;*/
        /*line-height: 104px;*/
    /*}*/
/*}*/