.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.scrolloff {
    pointer-events: none;
}
.sections-header {
    background: greenyellow;
}
.sections-header .slide {
    display: inline-block;
    border: 1px solid #3c261b;
    border-right-width: 0;
    border-left-width: 0;
    bottom: 10px;
    height: 1px;
    width: 150px;
    margin-left: -5px;
    vertical-align: middle;
}

/*section:before {*/
    /*display: block;*/
    /*content: " ";*/
    /*height: 70px;      !* Give height of your fixed element *!*/
    /*margin-top: -70px; !* Give negative margin of your fixed element *!*/
    /*visibility: hidden;*/
/*}*/

#wedding-slider .item img {
    width: 100%;
    display: block;
    height: auto;
}

/*HERO*/
.hero {
    background: url("../images/herobg.jpg") no-repeat;
    background-size: 100%;
}
/*TOPROW*/
.toprow {
    /*height: 70px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .6);
}
.toprow .phone {
    /*font-size: 24px;*/
}

/*DECORATION*/
.description {
    margin-top: auto;
    height: 100%;
}