body {

}

.vertical-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media all and (max-width: 750px) {
    .vertical-align {
        flex-direction: column;
    }
}

.sections-header {
    text-align: center;
}
.sections-header h3 {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*header*/
.toprow {
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.phone {
    display: inline-block;
    padding: 5px 10px;
    background: black;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.langs {
    display: inline-block;
}

.langs a {
    color: black;
}

.langs span+span:before {
    content: "| ";
}

.botrow {
    padding-top: 20px;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    padding-bottom: 20px;
}

#menu {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#menu.navbar-default {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(41, 41, 41, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(219, 219, 219, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #dbdbdb;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #dbdbdb;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #dbdbdb;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.logo {
    display: inline-block;
}

.logo img {
    max-height: 100px;
    max-width: 256px;
}

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    margin: auto;
}

/*summary*/
#summary {
    margin-top: 25px;
}
#summary p {
    font-size: 20px;
}
#summary .small {
    font-size: 12px;
}
.description {
    margin-top: 20px;
}

/*collections*/
.thumbnails {

}

.thumbnails .thumbnail, .thumbnails .thumbnail:hover {
    border: none;
}

.thumbnails .tab-pane {
    margin-top: 10px;
}

.thumbnails .tab-content img {

}

.lb-image {
    width: 500px!important;
    height: auto!important;
}

.nav-tabs {
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-tabs li > a, .nav-tabs li > a:hover, .nav-tabs li > a:focus {
    border: none;
    border-radius: 0;
    background: none;
    color: black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: solid 2px black;
    color: black;
    cursor: pointer;
}

/*order*/
#order {
    margin-top: 20px;
    min-height: 250px;
    background: transparent;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: white;
}
#order a {
    padding: 5px 35px;
    color: white;
    font-size: 16px;
    background: gray;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #FFF;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#order a:hover {

}
#order .order {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}
/*bullets*/
#bullets {
    margin-top: 20px;
    font-size: 20px;
}
#bullets .row {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

#howmade {
    margin-top: 20px;
    font-size: 18px;
}
#howmade .row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.story {

}

/*contacts*/
#contacts {
    background: transparent;
}

#contacts address {
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
}

#contacts .row{
    padding: 50px 25px;

}

#contacts iframe {
    width: 100%;
    align-self: stretch;
    padding: 10px 20px;
    min-height: 200px;
}

/*footer*/
footer {
    height: 200px;

}

/*------------------------------------------*/
/*   Back to Top Button
/*------------------------------------------*/
.top {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #900 url("../images/top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.top.is-visible, .top.fade-out, .no-touch .top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.top.is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.top.fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .top:hover {
    background-color: #e86256;
    opacity: 1;
}
